.site-banner {
    background-image: url(/assets/images/hero-girls-circle.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.feature-image-banner {
   min-height:45vh;
    background-image: url(/assets/images/feature-image.jpg)
}