
@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('Gotham-Light.otf')  format('opentype'),
           url('Gotham-Light.woff') format('woff'), url('Gotham-Light.ttf')  format('truetype'), url('Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  